html {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
}

body {
    position: relative;
}

@import "scss-files/header";
@import "scss-files/main-content";