html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
}

body {
  position: relative;
}

.heading {
  height: 5rem;
  width: 85%;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}

.heading span {
  color: white;
  font-size: 1.7rem;
  padding-right: 0.5rem;
}

.heading p {
  color: white;
  font-size: 1.4rem;
  text-decoration: none;
}

.heading .second i {
  color: white;
  padding-left: 1.5rem;
  font-size: 1.7rem;
  border-left: dashed 1px white;
}

#navbar-top {
  width: 100%;
}

.header {
  z-index: 10;
  height: 5rem;
  margin: 0 auto;
  width: 85%;
  margin: 0 auto;
}

.header .links {
  border-bottom: 1px solid rgba(255, 255, 255, 0.452);
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  overflow: hidden;
  list-style: none;
  padding: 1.57rem 0;
}

.header .links a {
  position: relative;
  text-decoration: none;
  letter-spacing: 3px;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.6rem;
  padding: 0 2.4rem;
  padding-bottom: 1.87rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header .links a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-image: -webkit-gradient(linear, left top, right top, from(#fbbd61), to(#ec7532));
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
  -webkit-box-shadow: 0 0 20px 0 #fbbd61;
          box-shadow: 0 0 20px 0 #fbbd61;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.header .links a:hover::after, .header .links a:active::after {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  display: none;
}

.header button:focus {
  outline: none;
}

.header button i {
  color: #fbbd61;
  font-size: 24px;
  font-weight: lighter;
}

.responsive-navbar {
  overflow: hidden;
  width: 100%;
  padding: 0;
  display: none;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  pointer-events: none;
  position: relative;
  z-index: 8;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.responsive-navbar ul {
  list-style: none;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  padding: 1rem 0 0 0;
}

.responsive-navbar ul li {
  position: relative;
  padding: 2rem 0;
}

.responsive-navbar ul li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-image: -webkit-gradient(linear, left top, right top, from(#fbbd61), to(#ec7532));
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
  -webkit-box-shadow: 0 0 20px 0 #fbbd61;
          box-shadow: 0 0 20px 0 #fbbd61;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.responsive-navbar ul li:hover::after, .responsive-navbar ul li:active::after {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.responsive-navbar ul li a {
  color: white;
  font-size: 14px;
  letter-spacing: 3px;
  text-decoration: none;
}

.responsive-navbar ul li .main-news {
  padding-bottom: 1.2rem;
}

.responsive-navbar ul li .sub-news {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #ec7532;
  padding: 1.8rem 0;
}

.responsive-navbar ul li .sub-news:hover, .responsive-navbar ul li .sub-news:active {
  background-color: rgba(236, 117, 50, 0.8);
}

.responsive-navbar__activate {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  pointer-events: auto;
}

.sticky-header {
  height: 7rem;
  background: #101010;
}

.navbar.sticky-header .header {
  height: 100%;
}

.links.pad-bor {
  border-bottom: none;
}

.links.pad-bor a {
  font-size: 12px;
  padding: 1.8rem;
}

.main-slider {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 60rem;
}

.main-slider img {
  height: 60rem;
  width: 100%;
}

.main-slider .img-shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.979)));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.979));
}

.main-slider:hover .movie-info, .main-slider:active .movie-info {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.main-slider .movie-info {
  position: absolute;
  top: 34%;
  left: 9%;
  z-index: 5;
  -webkit-animation: movie-info_h4 1500ms infinite alternate;
          animation: movie-info_h4 1500ms infinite alternate;
}

.main-slider .movie-info h4 {
  color: #fbbd64;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 2px;
  padding: 1rem 0;
}

.main-slider .movie-info h1 {
  font-size: 5.2rem;
  color: #ffffff;
  font-weight: lighter;
  letter-spacing: 4px;
}

.main-slider .movie-info p {
  font-size: 1.8rem;
  color: white;
  padding: 1rem 0;
}

.main-slider .movie-info div .certificate {
  width: 4.8rem;
  height: 4.8rem;
  border: white 2px solid;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  padding: 13px 14px;
  margin-right: 1rem;
}

.main-slider .movie-info div button {
  background-image: -webkit-gradient(linear, left top, right top, from(#fbbd61), to(#ec7532));
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
  border: none;
  height: 4.8rem;
  width: 21.6rem;
  font-size: 1.3rem;
  border-radius: 2rem;
  letter-spacing: 2px;
  color: white;
  padding: 15px 24px;
  position: relative;
  overflow: hidden;
}

.main-slider .movie-info div button p {
  margin-top: 1rem;
  z-index: 1;
}

.main-slider .movie-info div button i {
  color: white;
  z-index: 1;
}

.main-slider .movie-info div button:focus {
  outline: none;
}

.main-slider .movie-info div button::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ec7532;
  -webkit-transform: translateX(-100%) translateY(20%);
          transform: translateX(-100%) translateY(20%);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.main-slider .movie-info div button:hover::after {
  -webkit-transform: translateX(0) translateY(0);
          transform: translateX(0) translateY(0);
}

.main-slider .owl-dots {
  position: absolute;
  bottom: 10.5%;
  left: 8.3%;
}

.main-slider .scroll-back {
  width: 6rem;
  height: 9rem;
  z-index: 6;
  position: absolute;
  background-color: white;
  bottom: -6.1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
  -webkit-animation: scroll-arrow 3s infinite alternate;
          animation: scroll-arrow 3s infinite alternate;
}

.main-slider .scroll-back .scroll-arrow {
  position: absolute;
  left: 50%;
  top: 20%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

@media (max-width: 1057px) {
  .header .links a {
    padding: 0 1.8rem;
    padding-bottom: 1.87rem;
  }
}

@media (max-width: 987px) {
  .header .links a {
    padding: 0 0.7rem;
    padding-bottom: 1.87rem;
  }
}

@media (max-width: 945px) {
  .header .links a {
    font-size: 1.2rem;
  }
}

@media (max-width: 767px) {
  .header .links a {
    display: none;
  }
  .header button {
    display: block;
  }
  .navbar .responsive-navbar {
    display: block;
  }
}

@media (max-width: 650px) {
  .main-slider .owl-carousel .item h1 {
    font-size: 30px;
  }
}

@media (max-width: 450px) {
  .header img {
    width: 50%;
  }
  .main-slider .owl-carousel .item img {
    height: 40rem;
  }
  .main-slider .owl-carousel .item h4 {
    font-size: 1rem;
  }
  .main-slider .owl-carousel .item h1 {
    font-size: 18px;
  }
  .main-slider .owl-carousel .item p {
    font-size: 12px;
  }
  .main-slider .owl-carousel .owl-dots {
    bottom: 5.5%;
  }
  .main-slider .scroll-back {
    bottom: 13.9rem;
  }
}

@-webkit-keyframes movie-info_h4 {
  from {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes movie-info_h4 {
  from {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes scroll-arrow {
  from {
    left: 50%;
  }
  to {
    left: 51%;
  }
  to {
    left: 49%;
  }
}

@keyframes scroll-arrow {
  from {
    left: 50%;
  }
  to {
    left: 51%;
  }
  to {
    left: 49%;
  }
}

main {
  margin-top: 61rem;
}

.secondary-slider {
  width: 100%;
}

.secondary-slider h1 {
  position: relative;
  font-size: 1.8rem;
  color: #ec7532;
  width: 85%;
  margin: 3rem auto;
  padding-bottom: 3rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.212);
  letter-spacing: 3px;
}

.secondary-slider h1::after {
  content: '';
  position: absolute;
  width: 12.5rem;
  height: 0.4rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#fbbd61), to(#ec7532));
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
  bottom: 0;
  left: 0;
}

.secondary-slider .secondary-slide {
  width: 85%;
  margin: 0 auto;
  position: relative;
}

.secondary-slider .secondary-slide .owl-nav {
  position: absolute;
  top: 26%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  width: 100%;
}

.secondary-slider .secondary-slide .owl-nav .owl-prev {
  position: absolute;
  left: -50px;
  font-size: 6rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.secondary-slider .secondary-slide .owl-nav .owl-prev span {
  color: #fbbd61;
}

.secondary-slider .secondary-slide .owl-nav .owl-prev:hover, .secondary-slider .secondary-slide .owl-nav .owl-prev:focus {
  background-color: white;
  outline: none;
  left: -45px;
}

.secondary-slider .secondary-slide .owl-nav .owl-next {
  position: absolute;
  right: -50px;
  font-size: 6rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.secondary-slider .secondary-slide .owl-nav .owl-next span {
  color: #fbbd61;
}

.secondary-slider .secondary-slide .owl-nav .owl-next:hover, .secondary-slider .secondary-slide .owl-nav .owl-next:focus {
  background-color: white;
  outline: none;
  right: -45px;
}

.secondary-slider .secondary-slide .movie-poster {
  position: relative;
  overflow: hidden;
  margin-bottom: 2rem;
}

.secondary-slider .secondary-slide .movie-poster img {
  height: auto;
  border-radius: 3%;
}

.secondary-slider .secondary-slide .movie-poster .poster-info {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #ec7632dc;
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
  border-radius: 3%;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(2) rotateZ(-30deg);
          transform: scale(2) rotateZ(-30deg);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.secondary-slider .secondary-slide .movie-poster .poster-info:hover {
  opacity: 1;
  -webkit-transform: scale(1) rotateZ(0) translateX(0) translateY(0);
          transform: scale(1) rotateZ(0) translateX(0) translateY(0);
}

.secondary-slider .secondary-slide .movie-poster .poster-info div {
  overflow: hidden;
}

.secondary-slider .secondary-slide .movie-poster .poster-info div a {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 8rem;
  height: 8rem;
  border: white solid 2px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.secondary-slider .secondary-slide .movie-poster .poster-info div a i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  color: white;
  font-size: 24px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.secondary-slider .secondary-slide .movie-poster .poster-info div a:hover {
  width: 7rem;
  height: 7rem;
}

.secondary-slider .secondary-slide .movie-poster .poster-info div a:hover i {
  font-size: 20px;
}

.secondary-slider .secondary-slide .movie-poster .poster-info a {
  text-decoration: none;
  color: white;
  font-size: 13px;
  letter-spacing: 3px;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 65%;
  left: 50%;
  text-align: center;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.secondary-slider .secondary-slide .movie-poster .poster-info span {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 19%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  font-size: 13px;
  color: white;
  letter-spacing: 2px;
}

.secondary-slider .secondary-slide h2 {
  text-align: center;
  color: #4a4a4a;
  font-size: 18px;
}

.secondary-slider .secondary-slide .stars {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.secondary-slider .secondary-slide .stars i {
  color: #fbbd61;
}

.movie-sessions__info {
  width: 85%;
  margin: 0 auto;
  margin-top: 15rem;
}

.movie-sessions__info .days {
  border-bottom: #d8d8d8 solid 1px;
}

.movie-sessions__info .days a {
  text-align: center;
  position: relative;
  width: 100%;
  text-decoration: none;
  padding: 2rem;
  font-size: 18px;
  color: #4a4a4a;
  letter-spacing: 3px;
}

.movie-sessions__info .days a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-image: -webkit-gradient(linear, left top, right top, from(#fbbd61), to(#ec7532));
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
  -webkit-box-shadow: 0 0 20px 0 #fbbd61;
          box-shadow: 0 0 20px 0 #fbbd61;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.movie-sessions__info .days a:hover::after, .movie-sessions__info .days a:active::after {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.movie-sessions__info .days .today::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 1;
  height: 3px;
  background-image: -webkit-gradient(linear, left top, right top, from(#fbbd61), to(#ec7532));
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
  -webkit-box-shadow: 0 0 20px 0 #fbbd61;
          box-shadow: 0 0 20px 0 #fbbd61;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.movie-sessions__info .movie-session {
  width: 100%;
  padding: 4.5rem 0;
  border-bottom: 1px solid #d8d8d8;
}

.movie-sessions__info .movie-session:last-child {
  border-bottom: none;
}

.movie-sessions__info .movie-session img {
  max-width: 165px;
  margin-right: 4rem;
  border-radius: 5%;
}

.movie-sessions__info .movie-session .movie-time__info {
  width: 100%;
}

.movie-sessions__info .movie-session .movie-time__info .view-times {
  width: 100%;
}

.movie-sessions__info .movie-session .movie-time__info h2,
.movie-sessions__info .movie-session .movie-time__info a {
  font-size: 14px;
  color: #ec7532;
  letter-spacing: 2px;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.movie-sessions__info .movie-session .movie-time__info a:hover {
  color: black;
}

.movie-sessions__info .movie-session .movie-time__info h1 {
  margin-top: 1rem;
  color: #101010;
  font-size: 24px;
  font-weight: lighter;
  letter-spacing: 2px;
}

.movie-sessions__info .movie-session .movie-time__info p {
  margin-top: 2rem;
  color: #717171;
  font-size: 16px;
}

.movie-sessions__info .movie-session .movie-time__info div p {
  color: #4a4a4a;
  font-size: 12px;
  padding-bottom: 5px;
}

.movie-sessions__info .movie-session .movie-time__info div p i {
  font-size: 10px;
  color: #4a4a4a;
}

.movie-sessions__info .movie-session .movie-time__info div span {
  background-color: #d8d8d8;
  color: #717171;
  font-size: 14px;
  border-radius: 10%;
  padding: 3px 11px;
  margin: 0 10px;
}

.movie-sessions__info .movie-session .movie-time__info .age-sign {
  margin-bottom: 3px;
}

.movie-sessions__info .movie-session .movie-time__info .age-sign span {
  width: 33px;
  height: 33px;
  font-size: 13px;
  color: #ffffff;
  background-color: #4a4a4a;
  border-radius: 50%;
  padding-top: 7px;
}

.movie-sessions__info .movie-session .movie-time__info .expired-time {
  opacity: 0.5;
}

.movie-and-slide {
  position: relative;
  width: 100%;
  margin-top: 5rem;
}

.movie-and-slide .back-slidephoto {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.movie-and-slide .coming-soon {
  width: 85%;
  margin: auto;
}

.movie-and-slide .coming-soon .csh1 {
  position: relative;
  width: 100%;
  padding-top: 8rem;
  border-bottom: 1px solid #6d6b6b;
}

.movie-and-slide .coming-soon .csh1 h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  font-size: 18px;
  color: #ffffff;
  padding-bottom: 2rem;
  font-weight: bold;
  letter-spacing: 3px;
}

.movie-and-slide .coming-soon .csh1 h1::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  opacity: 1;
  height: 3px;
  background-image: -webkit-gradient(linear, left top, right top, from(#fbbd61), to(#ec7532));
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
  -webkit-box-shadow: 0 0 20px 0 #fbbd61;
          box-shadow: 0 0 20px 0 #fbbd61;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.movie-and-slide .coming-soon .movie-trailer {
  width: 100%;
  margin-top: 4rem;
}

.movie-and-slide .coming-soon .movie-trailer .coming-soon__info {
  margin: auto;
}

.movie-and-slide .coming-soon .movie-trailer h2 {
  color: #ec7532;
  font-size: 14px;
}

.movie-and-slide .coming-soon .movie-trailer h1 {
  font-size: 34px;
  color: #ffffff;
  letter-spacing: 1px;
}

.movie-and-slide .coming-soon .movie-trailer .stars {
  margin-right: 2rem;
}

.movie-and-slide .coming-soon .movie-trailer .stars i {
  font-size: 14px;
  color: #fbbd61;
}

.movie-and-slide .coming-soon .movie-trailer .rating-time span {
  padding-top: 3px;
  color: #b3b2b2;
  font-size: 1.4rem;
}

.movie-and-slide .coming-soon .movie-trailer .rating-time span i {
  font-size: 1.4rem;
  color: #b3b2b2;
}

.movie-and-slide .coming-soon .movie-trailer p {
  margin-top: 1rem;
  font-size: 1.6rem;
  color: #ffffff;
  width: 70%;
}

.movie-and-slide .coming-soon .movie-trailer a {
  color: #ec7532;
  font-size: 12px;
  letter-spacing: 2px;
}

.movie-and-slide .coming-soon .movie-trailer .coming-soon__image {
  position: relative;
  margin-left: auto;
  -webkit-box-shadow: 0px 0px 50px black;
          box-shadow: 0px 0px 50px black;
}

.movie-and-slide .coming-soon .movie-trailer .coming-soon__image span {
  cursor: pointer;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 72px;
  height: 72px;
  border: 2px solid #ec7532;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.movie-and-slide .coming-soon .movie-trailer .coming-soon__image span i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  color: white;
  font-size: 50px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.movie-and-slide .coming-soon .movie-trailer .coming-soon__image:hover span {
  width: 65px;
  height: 65px;
}

.movie-and-slide .coming-soon .movie-trailer .coming-soon__image:hover span i {
  font-size: 40px;
}

.movie-and-slide .mt-3 {
  width: 100%;
  background-color: #101010;
}

.movie-and-slide .mt-3 > div {
  width: 85%;
  margin: 0rem auto;
  margin-top: 3rem;
  padding: 3rem 0 0 0;
}

.movie-and-slide .mt-3 .release-slide {
  margin: 2rem 0 0 0;
  position: relative;
}

.movie-and-slide .mt-3 .release-slide .item {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.movie-and-slide .mt-3 .release-slide .item:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.movie-and-slide .mt-3 .release-slide .item img {
  border-radius: 5%;
}

.movie-and-slide .mt-3 .release-slide .item h4 {
  margin-top: 1.5rem;
  color: white;
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: 1px;
}

.movie-and-slide .mt-3 .release-slide .item p {
  text-align: center;
  font-size: 14px;
  color: #a1a1a1;
}

.movie-and-slide .mt-3 .release-slide .owl-nav {
  font-size: 5rem;
}

.movie-and-slide .mt-3 .release-slide .owl-nav .owl-prev {
  width: 20px;
  position: absolute;
  left: -3.5%;
  top: 40%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.movie-and-slide .mt-3 .release-slide .owl-nav .owl-prev:hover {
  left: -3%;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  background-color: #ec763200;
}

.movie-and-slide .mt-3 .release-slide .owl-nav .owl-prev:focus {
  outline: none;
}

.movie-and-slide .mt-3 .release-slide .owl-nav .owl-prev span {
  color: #ec7532;
}

.movie-and-slide .mt-3 .release-slide .owl-nav .owl-next {
  position: absolute;
  width: 20px;
  right: -5%;
  top: 40%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.movie-and-slide .mt-3 .release-slide .owl-nav .owl-next:hover {
  right: -4.5%;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  background-color: #ec763200;
}

.movie-and-slide .mt-3 .release-slide .owl-nav .owl-next:focus {
  outline: none;
}

.movie-and-slide .mt-3 .release-slide .owl-nav .owl-next span {
  color: #ec7532;
}

.contact-help {
  width: 100%;
}

.contact-help div {
  width: 100%;
  margin: 0 auto;
  padding: 4.5rem 0;
}

.contact-help div h1 {
  font-size: 23px;
  text-align: center;
  color: #4a4a4a;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}

.contact-help div h2 {
  font-size: 46px;
  text-align: center;
  color: #ec7532;
  font-weight: 400;
  letter-spacing: 2px;
}

.footer-back {
  background: #101010;
  width: 100%;
}

.footer-back .footer-links__container {
  width: 84.5%;
  margin: 0 auto;
  padding-top: 6.5rem;
  padding-bottom: 4rem;
  border-bottom: #4d4d4d 1px solid;
}

.footer-back .footer-links__container .footer-links {
  width: 100%;
}

.footer-back .footer-links__container .footer-links h1 {
  font-size: 16px;
  color: #ec7532;
  letter-spacing: 2px;
  margin-bottom: 3rem;
}

.footer-back .footer-links__container .footer-links .footer-link {
  width: 100%;
  list-style: none;
}

.footer-back .footer-links__container .footer-links .footer-link a {
  text-decoration: none;
  line-height: 2.5rem;
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 2px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.footer-back .footer-links__container .footer-links .footer-link a:hover {
  color: #fbbd61;
}

.footer-back .footer-links__container .footer-links .footer-link a:hover i {
  color: #fbbd61;
}

.footer-back .footer-links__container .footer-links .footer-link a i {
  color: white;
  font-size: 13px;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.footer-back .last-point {
  margin: 0 auto;
  width: 84.5%;
  padding: 2rem 0 1.5rem 0;
}

.footer-back .last-point p {
  color: white;
  font-size: 14px;
}

@media (max-width: 938px) {
  .movie-and-slide .back-slidephoto {
    height: 64rem;
  }
  .movie-and-slide .coming-soon .csh1 {
    padding-top: 4rem;
  }
  .movie-trailer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .movie-trailer p {
    margin: 0 auto;
    margin-top: 1rem;
  }
  .movie-trailer .rating-time {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .coming-soon__image {
    width: 100%;
    margin: 1rem auto;
  }
  .coming-soon__image img {
    width: 100%;
  }
}

@media (max-width: 835px) {
  .movie-sessions .movie-session {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .movie-sessions .movie-session img {
    margin: 0 auto;
    max-width: 100%;
  }
  .movie-sessions .movie-session h2 {
    margin-top: 2rem;
  }
  .release-slide .owl-nav {
    display: none;
  }
}

@media (max-width: 767px) {
  .footer-back .footer-links__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 95%;
  }
  .footer-back .last-point {
    width: 95%;
  }
}

@media (max-width: 678px) {
  .contact-help div {
    text-align: start;
  }
}

@media (max-width: 650px) {
  .movie-trailer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 600px) {
  .movie-poster {
    width: 70%;
    margin: 0 auto;
  }
  .secondary-slide .owl-nav {
    display: none;
  }
  .movie-sessions__info .days {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .movie-sessions__info .days a {
    font-size: 16px;
    text-align: start;
  }
  .movie-sessions__info .days a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, right top, from(#fbbd61), to(#ec7532));
    background-image: linear-gradient(to right, #fbbd61, #ec7532);
    -webkit-box-shadow: 0 0 20px 0 #fbbd61;
            box-shadow: 0 0 20px 0 #fbbd61;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
  }
  .movie-sessions__info .days a:hover::after, .movie-sessions__info .days a:active::after {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .movie-sessions__info .days .today::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 3px;
    opacity: 1;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, right top, from(#fbbd61), to(#ec7532));
    background-image: linear-gradient(to right, #fbbd61, #ec7532);
    -webkit-box-shadow: 0 0 20px 0 #fbbd61;
            box-shadow: 0 0 20px 0 #fbbd61;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .movie-sessions__info .view-times {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 450px) {
  .movie-sessions__info {
    text-align: star;
  }
  .movie-sessions__info .view-times div:first-child {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .movie-sessions__info .view-times div:first-child .schedule {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .movie-sessions__info .view-times div:first-child .schedule span {
    margin: 1rem 0;
  }
  main {
    margin-top: 35rem;
  }
  .heading {
    margin-left: 3rem;
  }
}
/*# sourceMappingURL=main.css.map */